workflows/daily_revenue_report.json
{
  "name": "Daily Revenue Report",
  "nodes": [
    {
      "id": "1",
      "name": "Stripe Payment Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [300, 600],
      "parameters": {
        "httpMethod": "POST",
        "path": "stripe-payment",
        "responseMode": "onReceived"
      }
    },
    {
      "id": "2",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [600, 600],
      "parameters": {
        "operation": "append",
        "sheetId": "YOUR_SHEET_ID",
        "range": "Payments!A:D",
        "options": {}
      }
    },
    {
      "id": "3",
      "name": "Daily Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [300, 800],
      "parameters": {
        "triggerTimes": {
          "item": [{ "hour": 23, "minute": 59 }]
        }
      }
    },
    {
      "id": "4",
      "name": "Fetch Today's Payments",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [600, 800],
      "parameters": {
        "operation": "read",
        "sheetId": "YOUR_SHEET_ID",
        "range": "Payments!A:D"
      }
    },
    {
      "id": "5",
      "name": "Aggregate Revenue",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 800],
      "parameters": {
        "functionCode": "return [{ total: items.reduce((t,i)=>t + Number(i.json.amount||0),0) }];"
      }
    },
    {
      "id": "6",
      "name": "Send Summary Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [1200, 800],
      "parameters": {
        "operation": "send",
        "to": "founder@example.com",
        "subject": "Daily Revenue Total",
        "message": "Total revenue today: ${{$json.total}}"
      }
    }
  ],
  "connections": {
    "Stripe Payment Webhook": {
      "main": [[{ "node": "Log to Google Sheets", "type": "main", "index": 0 }]]
    },
    "Daily Cron": {
      "main": [[{ "node": "Fetch Today's Payments", "type": "main", "index": 0 }]]
    },
    "Fetch Today's Payments": {
      "main": [[{ "node": "Aggregate Revenue", "type": "main", "index": 0 }]]
    },
    "Aggregate Revenue": {
      "main": [[{ "node": "Send Summary Email", "type": "main", "index": 0 }]]
    }
  }
}

